<div class="main">
  <div class="">
  </div>
  <table class="table table-bordered custab">
    <thead>
      <tr>
        <th class="text-center fix-w-5">ID</th>
        <th class="text-center">Post Name</th>
        <th class="text-center">Author</th>
        <th class="text-center" style="width: 224px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts; let rowIndex = index">
        <td>{{rowIndex+1}}</td>
        <td>thuy</td>
        <td>thuy</td>
        <td class="text-center">
          <button (click)="actionPost('edit', post)" class='btn btn-info btn-xs'><span class="fa fa-eye"></span></button>&nbsp;
          <button (click)="actionPost('delete', post)" class="btn btn-danger btn-xs"><span class="fa fa-remove"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="page">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
</div>